body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  background-color: #fff;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #0c0c0c;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

i {
  font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.section_padding {
  padding: 90px 0;
}

.text_black {
  color: #0c0c0c !important;
}

.col-7 {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
/* Header */

.header_top {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: #0c0c0c;
}
.header_top_item {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  transition: color 0.2s;
  display: flex;
  align-items: center;
  gap: 8px;
}
.header_top_item:hover {
  color: #f1db25;
}

.header_top_item > i {
  color: #f1db25;
}

.header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px 15px;
}
/* .header_bottom .logo > a > img {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
} */
.logo_link {
  position: absolute;
}

.logo_img {
  height: 60px;
  position: relative;
  top: -24px;
  left: 20px;
  transition: all 0.5s;
}

.logo_img:hover {
  scale: 1.05;
}

.nav_list {
  list-style: none;
}

.nav_item {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 35px 15px 10px;
  transition: all 0.4s;
}

.nav_item.active,
.nav_item:hover {
  background-color: #0c0c0c;
}

/* Home */
.hero_area {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.8)),
    to(rgba(0, 0, 0, 0.35))
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.35)
  );
}

.img_box {
  width: 100%;
}

.img_box > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
}

.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
}

.home_slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slider_inner {
  width: 60%;
  height: auto;
}

.slider_item h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.2;
}

.slider_item h1 span {
  color: #f1db25;
}

.slider_item p {
  margin-top: 25px;
  max-width: 60%;
}

/* Section header */
.section_header {
  width: 100%;
  margin-bottom: 45px;
}

.section_title {
  text-align: center;
}

.section_title {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 10px;
}
.section_title::before {
  content: "";
  width: 40px;
  height: 7px;
  background-color: #f1db25;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section_subtitle {
  text-align: center;
}

/* Button*/

.btn_group {
  margin-top: 30px;
  padding: 10px 0;
  display: flex;
  gap: 10px;
}

.btn {
  background-color: #fff;
  border: 1px solid #fff;
  color: #0c0c0c;
  padding: 10px 35px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 600;
  text-transform: uppercase;
}
.btn.yellov_btn {
  background-color: #f1db25;
  border: 1px solid #f1db25;
  color: #fff;
}
.btn:hover {
  background-color: transparent;
  color: #fff;
}
.btn.yellov_btn:hover {
  background-color: transparent;
  color: #f1db25;
}

/* About */
.container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}
.row {
  display: flex;
  align-items: center;
}
.about_img > img {
  width: 80%;
}
.about_info {
  position: absolute;
}
.card {
  position: relative;
  top: -180px;
  left: -50px;
  padding: 45px 25px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 70%;
  transition: all 0.5s;
}
.card:hover {
  scale: 1.03;
}
.about_title {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.about_title::before {
  content: "";
  width: 40px;
  height: 7px;
  background-color: #f1db25;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Servisec */
.services {
  background-color: #0c0c0c;
}
.services_item {
  background-color: #fff;
  margin-right: 30px;
  padding: 25px 15px;
  flex: 1 1 0;
  text-align: center;
  color: #0c0c0c;
  transition: all 0.5s;
}
.services_item:last-child {
  margin-right: 0;
}
.services_item:hover,
.services_item:focus {
  scale: 1.05;
}
.item_title h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.item_text p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Clients */
.slider_items {
  padding: 0 15%;
  width: 100%;
}
.client_item {
  text-align: center;
}
.item_img > img {
  max-width: 145px;
  width: 100%;
}
.item_title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  padding: 0 10px;
}
.item_text {
  margin-top: 10px;
}
.clients_wrapper {
  position: relative;
}
.slider_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 23px;
  background-color: #1c1c1c;
  position: absolute;
  z-index: 100;
  top: 50%;
  color: #fff;
  transition: all 200ms;
}
.slider_btn:hover {
  background-color: #f1db25;
  scale: 1.2;
}
.slider_btn:active {
  background-color: transparent;
  border: 1px solid #f1db25;
  color: #f1db25;
  scale: 0.8;
}
.right {
  right: 0;
}

/* Get In touch */
.get_in_touch > .img_box {
  padding-top: 90px;
  position: relative;
  padding-bottom: 90px;
}

.get_in_touch > .img_box > .container {
  z-index: 5;
  position: relative;
}

.get_in_touch > .img_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.7)),
    to(rgba(0, 0, 0, 0.35))
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.35)
  );
}

.get_in_touch > .img_box > .img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.get_in_touch > .img_box > .img > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

form input {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  height: 45px;
  width: 100%;
  border: none;
  outline: 0;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
}

form ::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

form ::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #fff;
}

form .area {
  min-height: 200px;
}

form .send_btn {
  text-align: center;
  margin-top: 25px;
}

/* Our Guards */
.guards .content {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.guards .guard_items {
  display: flex;
  gap: 24px;
}

.guard_item {
  position: relative;
  flex: 1 1 0;
}

.guard_item > .detail_box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guard_name {
  font-size: 1.25rem;
  font-weight: 500;
}

.guard_position {
  font-size: 1rem;
  font-weight: 500;
}

.guard_item > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.view_all_btn {
  text-align: center;
}

/* Footer section*/
.footer_section {
  width: 100%;
  background-color: #0c0c0c;
  padding: 75px 0 10px;
}

.footer_inner {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.footer_col {
  flex: 1 1 0;
  color: #fff;
  text-align: left;
}

.footer_col > .col_header {
  font-size: 24px;
  margin-bottom: 25px;
}

.footer_col > ul {
  padding: 0;
  list-style-type: none;
}

.footer_col > li {
  list-style-type: none;
  margin-bottom: 6px;
}

.footer_col > .col_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_col > .col_info > .info_item > a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  transition: all 300ms;
}

.footer_col > .col_info > .info_item > a:hover {
  color: rgba(255, 255, 255, 1);
  scale: 1.04;
}

.subscribe_form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe_form input {
  outline: none;
  border: none;
  padding: 8px 12px;
  border-radius: 50px;
  font-size: 16px;
}

.subscribe_form > button {
  border-radius: 50px;
  max-width: 75%;
}

.author_info {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  background-color: #101010;
}
.author_info p {
  color: rgba(254, 254, 255, 0.7);
  margin: 0;
  text-align: center;
}
